@charset "utf-8";
/* CSS Document */
html {
	background: #F1F1F1;
}
body {
	background: #FFFFFF;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	margin: 4em auto;
	padding: 1em 2em;
	border: 1px solid #E5E5E5;
	max-width: 700px;
}
#logo {
	margin: 6px 0 14px;
    border-bottom: none;
    text-align: center;
}
#logo a {
    background-image: url('../logo.png?ver=3.4.5.0');
    -webkit-background-size: 84px;
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    color: #999999;
    height: 84px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3em;
    margin: -78px auto 25px;
    padding: 0;
    text-decoration: none;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}
h1 {
	font-size:20px;
	color: #444444;
	clear: both;
	padding: 0;
	padding-bottom: 7px;
	font-weight:bold;
	text-transform: uppercase;
	border-bottom: 1px solid #E5E5E5;
}
#error-page p {
	background: #F1F1F1;
	color: #444444;
	font-size: 14px;
	line-height: 1.5;
	margin: 25px 0 20px;
	text-align: center;
	padding: 10px;
}
#error-page p.warning {
	background-color: #FFB3B3;
	border: 1px solid #C40B0B;
	color: #C40B0B;
	margin: 0;
}
td:last-child {
	width:250px;
}
table {
	background:#FFFFFF;
	overflow:hidden;
	border:1px solid #DBE4EF;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border-collapse:collapse;
	text-align:left;
	width:100%;
}
table td, table th {
	padding:5px 5px;
}
table thead th {
	background:#2B2B2B;
	color:#BEBEBE;
	font-size:11px;
	padding:8px 6px;
	font-weight:bold;
	border-left:0px solid #0070A8;
}
table thead th:first-child {
	border:none;
}
table tbody td a {
	color:#225985;
}
table tbody td a:hover {
	color:#328586;
}
table tbody td {
	padding:10px;
	color:#5A5A5A;
	background:#FDFDFD;
	border-bottom:1px solid #F3F3F3;
	font-size:12px;
	font-weight:normal;
}
table tbody .alt td {
	background:#E1EEF4;
	color:#00557F;
}
table tbody td:first-child {
	border-left: none;
	width: 10%;
	font-weight: bold;
	border-right: 1px solid #DFDFDF;
}
table tbody tr:last-child td {
	border-bottom:none;
	font-weight: normal;
}