@charset "utf-8";
/* CSS Document */
#module-left, #module-right {
	min-height:580px;
}
.login-o {
	background:#FFFFFF;
	padding:20px 15px;
}
.login-box h3 {
	display:block;
	text-align:center;
	margin: 0px 0px 10px;
    text-align: center;
    font-weight: 660;
	color:#00AEEF;
	line-height: 25px;
	padding: 5px 0 15px;
	border-bottom: 1px solid #E6E6E6;
	font-size:23px;
}
#login {
	min-height:458px;
}
#login-alert {
	font-size:11px;
	padding:10px;
	margin-bottom:10px;
}
.log-right #logo-log {
	display:block;
    padding: 77px 29px 20px;
}
.log-right h3 {
    line-height: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    padding: 8px 0 3px;
    border-top: 1px solid #E6E6E6;
    display: block;
    margin: 16px 0 0;
}
.log-right .button {
	width:100%;
}
.log-rep {
    margin: 20px 0;
}
.log-rep li {
    padding: 5px;
    list-style: disc inside;
    color: #E74C3C;
}
.log-rep li a {
	font-size:13px;
	color:#00AEEF;
}
.log-rep li a:hover {
	color:#E74C3C;
}
#social-login {
	text-align:center;
}
#social-login b {
	display:block;
	margin:5px 0;
}
#social-login b i {
	font-size:24px;
}
#social-login .button {
	display:inline-block;
	margin:3px 2px;
	min-width:90px;
}
#social-login .button i {
	margin-right:2px;
}
#login .item {
	display:block;
	padding:5px;
	margin: 0px 130px 15px;
}
#login .item label {
	display:block;
	font-weight:bold;
	font-size:14px;
}
#login input[name="username"], #login input[name="password"] {
	padding:8px;
	font-size:13px;
	margin-top:5px;
}
#login #btn-login {
	display:block;
	width:100%;
}
/************************************************************************************
  MEDIA QUERIES
*************************************************************************************/
/* Dispositivos de pantallas min 837px max 1024px */
@media screen and (min-width : 837px) and (max-width : 1024px) {
#login .item {
	margin: 0px 80px 15px;	
}
}
/* Dispositivos de pantallas min 426px max 836px */
@media screen and (min-width : 426px) and (max-width : 836px) {
#login .item {
	margin: 0px 10px 15px;	
}	
}
/* Dispositivos de pantallas min 320px max 425px */
@media screen and (min-width : 320px) and (max-width : 425px) {
#login .item {
	margin: 0px 0px 15px;	
}
#social-login b {
	font-size:13px;
}
#social-login .button {
	display:block;
	margin:8px;
}
}