RewriteEngine on
RewriteRule ^(.*)_(.*)x(.*).jpg$ $1_$2.jpg [L]
# DEFAULTS
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*)_16.jpg$ $1_50.jpg [L]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*)_32.jpg$ user_32.jpg [L]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*)_50.jpg$ user_50.jpg [L]
RewriteCond %{REQUEST_FILENAME} !-f  
RewriteRule ^(.*)_120.jpg$ user.jpg [L]